.entirePage {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Set the background image */
  background-image: url('./homeBackgroundImage.png');
  background-size: cover;  /* to cover the entire page */
  background-position: center;
  background-position: center;  /* Keeps the focal point of your stock chart centered */
  background-repeat: no-repeat; /* Prevents tiling */
  background-attachment: fixed;
  

}

.logo-img {
  max-width: 350px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.auth-container {
  padding: 40px;
  font-family: sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  background-color:white;
  border-radius: 15px; 
  
  
}

.auth-header {
  text-align: center;
  margin-bottom: 20px;
 

  
}

.error-message {
  background-color: #fee2e2;
  color: #991b1b;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #76ABDF;
  /* background-color: #6495ED; */
  padding: 50px;
  color: black;
  border-radius: 15px; 
  height: 280px;
  
}

.auth-form input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn-login {
  background: #EDC001;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-register {
  background: #16a34a;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.switch-view-text {
  font-size: 14px;
  text-align: center;
}

.link-text {
  color: #2563eb;
  cursor: pointer;
  text-decoration: underline;
}

/* Protected Dashboard Styling */
.homepage-container {
  padding: 40px;
  font-family: sans-serif;
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
  
  
}

.profile-card {
  background: #f3f4f6;
  padding: 15px;
  border-radius: 6px;
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
}

.btn-logout {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
