.entirePage {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Set the background image */
  background-image: url('./homeBackgroundImage.png');
  background-size: cover;  /* to cover the entire page */
  background-position: center;
  background-position: center;  /* Keeps the focal point of your stock chart centered */
  background-repeat: no-repeat; /* Prevents tiling */
  background-attachment: fixed;
  

}

.logo-img {
  max-width: 360px;
  width: 100%;
  height: auto;
  object-fit: contain;
  
}

.auth-container {
  padding: 40px;
  font-family: sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  background-color:white;
  border-radius: 15px; 
  
  
}

.auth-header {
  text-align: center;
  margin-bottom: 20px;
 

  
}

.error-message {
  background-color: #fee2e2;
  color: #991b1b;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 14px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #517ee7;
  /* background-color: #6495ED; */
  padding: 50px;
  color: black;
  border-radius: 15px; 
  height: 280px;
  
}

.auth-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  
}

.btn-login {
  background: #EDC001;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-register {
  background: #16a34a;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.switch-view-text {
  font-size: 14px;
  text-align: center;
}

.link-text {
  color: #2563eb;
  cursor: pointer;
  text-decoration: underline;
}








/* Homepage */

/* Protected Dashboard Styling */
.homepage-container {

  font-family: sans-serif;
  max-width: 100%;
  text-align: center;
  position: relative;
  /* CRITICAL CORRECTION: Fill the entire screen viewport dimensions */
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;

  
  
}
.topSectionBar {
  background-color: #517ee7;
  /* #517ee7   #76ABDF*/
  padding: 30px; 
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}
.right-buttons-3 {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  
}

.communityGroupButton, .expenditureTracker, .userProfileButton {
  border-radius: 20px;
  background: #517ee7;
  border: none; 
  position: relative; 
}

.logo-img {
  border-radius: 15px; 
  border: 2px solid rgb(83, 83, 83); 
}
.expense-img , .userProfile-img {
  width: 60px;
  height: 60px; 
  border-radius: 15px; 
  padding: 5px; 
  
}

.group-img {
  width: 90px; 
  height: 90px; 
}

button:hover {
  transform: translateY(-10px); 
  background: #EDC001;
  
}

.button-wrapper {
  position: relative; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.hover-tooltip {
  position: absolute; 
  bottom: 0px;
  background: rgba(0,0,0,0.75);
  color: white; 
  padding: 6px 10px; 
  border-radius: 12px; 

  font-size: 12px;
  white-space: nowrap; 
  opacity: 0; 
  transition: 1s;
  transform: translateY(25px);
}

.button-wrapper:hover {
  transform: translateY(-10px);
}
.button-wrapper:hover .hover-tooltip {
  opacity: 1; 
  
}




.profile-card {
  background: rgb(218, 217, 217);
  padding: 15px;
  /* width: 100%; */
  /* border-radius: 6px; */
  /* margin: 20px; */
  font-size: 14px;
  text-align: left;
  position: absolute; 
  bottom: 0px;
  left: 0px; 
  margin: 0px;
  width: 100%;
  


}

.btn-logout {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute; 
  bottom: 20px; 
  right: 20px; 
  
}